main {
    position: relative;
    padding-top: 100px;
}

.form-container {
    width: 700px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    border: 1px solid #000;
    padding: 40px;
}

.username-and-password, .num-character-skin-rank, .price, .image {
    margin-bottom: 30px;
}

.username-and-password span, .num-character-skin-rank span, .price span, .image span {
    font-size: 15px;
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
}

input, select {
    padding-left: 10px;
    height: 40px;
    border: 1px solid #000;
    border-radius: 5px;
}

.username-and-password input {
    width: 49%;
}

.price input{
    width: 89%;
}

.price {
    width: 100%;
}

span.currency {
    display: inline-block;
    margin-left: 10px;
    font-size: 24px;
}

.num-character-skin-rank {
    display: flex;
    justify-content: space-around;
}

.num-character, .num-skin, .rank, .price {
    display: inline-block;
}

.image input {
    padding: 10px;
    height: 50px;
    cursor: pointer;
}

.rank select {
    cursor: pointer;
}

.link-facebook span {
    position: relative;
    top: -14px;
    left: 1px;
    font-size: 17px;
}

.btn-save-info {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    width: 200px;
    height: 50px;
    font-size: 20px;
    border-radius: 25px;
    background-color: #3092FA;
    color: #fff;
    font-weight: bold;
    border: none;
}

.btn-save-info:hover {
    background-color: #5da8f7;
}